<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iyuba.iyubamovies">
    <!---->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application xmlns:tools="http://schemas.android.com/tools">
        <activity
            android:name=".ui.view.IMoviesListView"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IyubaAppTheme" />
        <!--<activity-->
            <!--android:name="com.iyuba.basichdsfavorlibrary.ui.activity.BasicHDsFavorListActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/IyubaAppTheme" />-->

        <activity
            android:name=".ui.view.OneMv.OneMvSerisesView"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.view.download.DownLoadView"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/IyubaAppTheme" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.DownLoadService" />
    </application>

</manifest>