<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.iyuba.talkshow.pig.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:taskAffinity="com.iyuba.talkshow.child"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iyuba.talkshow.pig.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.main.vestBag.VestBagActivity"
            android:configChanges="keyboardHidden|navigation|orientation|locale"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10082816" />
        <meta-data
            android:name="MIPUSH_APPID"
            android:value="\ 2882303761517126928" />

        <meta-data
            android:name="MIPUSH_APPKEY"
            android:value="\ 5281712613928" />
    </application>

</manifest>